

.chat {
  height: 10%;
  display: block;


}

.user-inputs {

  height: 10%;
  margin-left: auto;
  margin-right: auto;
   position: relative; 
 

}

/* header {
  text-align: center;


} */

.messages {
  background-color: white;
  /* border-radius: 5px; */
  padding: 1em;

  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  display: block;
  /* border-collapse: collapse;  */
  /* width: 50%;
  height: 50%; 
  /* background-image: linear-gradient(80deg, hsl(23, 98%, 56%), #2e7800); */
  border-radius: 20px 20px 20px 20px;

}

.message {
  /* color: black; */
  padding: 0.3em;
  /* flex-direction: column; */
  border-spacing: 10px;
  margin: auto;
  padding-top: 7px;
  /* font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; */
  /* color: white; */
  display: block;
  font-size: 40px;
}

.date{
color: green;
}
.auteur {
  
 color:orange;
  

 
}

form {

  margin-top: 1em;
  flex-direction: row;
 justify-content: space-between; 
  display: block;

}

input,
button {
  padding: 0.5em;
}

input {
 direction:row;
  margin-left: 40%;
  margin-right: 40%;
  font-size: 40px;
}

#Auteur {
  width: 40%;
 
}



button[type="submit"] {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  font-size: 40px;
  background-color: rgb(101, 252, 146);
}